<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="burgerPicSpot">
            <img src="assets/images/burger.png" alt="Cartoon Burger Image" id="burgerPic">
        </div>
    </div>
    <div class="row mt-2 mb-4">
        <div class="col-md-12 text-center" id="headerRow">
            <h1 id="pageHeader">Eat-Da-Burger!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-2 mb-4">
        <div class="col-md-4 text-right burgerList py-2" id="burgerOptions">
            {{#each burgers}}
            {{#unless this.devoured}}
            <div class="options">
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST" class="updateBtn mb-2">
                    {{this.burger_name}}
                    <button type="submit" class="btn btn-default mb-2" id="devourBtn">Devour it!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-4 text-center" id="devourPicSpot">
            <img src="assets/images/devour.png" alt="Cartoon Man Eating Burger" id="devourPic">
        </div>
        <div class="col-md-4 text-left burgerList" id="burgersDevoured">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="devoured mb-2">
                {{this.burger_name}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 text-center" id="newBurgerForm">
            <form class="create-form" action="/burgers" method="POST" id="addNewBurger">
                <div class="form-group">
                    <input type="text" id="enterNewBurger" name="burger_name" class="form-control">
                    <button type="submit" class="btn btn-default" id="submitNewBurger">Add Burger!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex jusitfy-content-center">
        <div class="col-md text-center" id="instructions">
            <p class="text-muted" id="insText">Enter a burger you want to eat and click "Add Burger!"</p>
        </div>
    </div>
</div>